# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Database
backend/devices.db

# Allow Pickled AI Models for Production
# backend/*.pkl (Removed from ignore)

# Ignore macOS system files
.DS_Store
